:root {
    --c-light: #FFFFFF;
    --c-green: green;
    --box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.1), 0 0 2.5rem rgba(0, 0, 0, 0.1);
}

.switch {
    width: 300px;
    position: relative;
    display: block;
    cursor: pointer;
}

.switch:before {
    width: 100%;
    height: 100px;
    border-radius: 80px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--c-light);
    box-shadow: var(--box-shadow);
}

.switch:checked:before {
    background-color: var(--c-green);
    box-shadow: var(--box-shadow);
}

.switch:after {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0 ;
    z-index: 2;
    background-color: var(--c-light);
    box-shadow: var(--box-shadow) inset;
    will-change: transform;
}

.switch:checked:after {
    transform: translateX(200%);
    border: 1px solid var(--c-green);
}